@import 'base/fonts';

@import 'base/mixins';
@import 'base/variables';




.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* мобильное меню 
############################################################################## */

.menu-mobile-btn {
    display: none;
    /* position: fixed; */
    position: relative;
    /* right: 60px;
    top: 70px; */
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .3);
}

.menu-mobile-open {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
}

.menu-mobile-open:nth-child(1) {
    transform: translateY(-6px);
}

.menu-mobile-open:nth-child(3) {
    transform: translateY(6px);
}

.menu-mobile-btn:hover {
    cursor: pointer;
}

.menu-mobile-btn:hover .menu-mobile-open:nth-child(3) {
    transform-origin: 0% 0%;
    transform: translateY(6px) rotate(-33deg);
    width: 10px;
    margin-left: 0;
    transition: transform 0.2s;
}

.menu-mobile-btn:hover .menu-mobile-open:nth-child(1) {
    transform-origin: 0% 0%;
    transform: translateY(-6px) rotate(31deg);
    width: 12px;
    margin-left: 0;
    transition: transform 0.2s;
}

.menu-mobile {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #000;
    left: 0;
    margin: 0;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);

}

.active-menu {
    transform: translateX(100%);
    transition: transform 0.5s;
}

.menu-mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3;
}

.menu-mobile-link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu-mobile-link:hover {
    text-decoration: none;
}

.menu-mobile-close {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 3rem;
    transition: all 0.2s;
    transform-origin: 50% 53%;
    display: block;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    transition: transform 0.5s;
    color: #fff;
}

.menu-mobile-close:hover {
    transform: scale(1.3);
    /* transform: rotate(180deg); */
}



@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/advantage';
@import 'blocks/reasons';
@import 'blocks/slider';
@import 'blocks/offers';
@import 'blocks/clients';
@import 'blocks/download';
@import 'blocks/footer';
@import 'blocks/video';

@import 'base/media';

.show {
    display: block;
}
.hide {
    display: none;
}
