@import 'base/fonts';

@import 'base/mixins';
@import 'base/variables';




.container {
    max-width: 1140px;
    margin: 0 auto;
}



@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/advantage';
@import 'blocks/reasons';
@import 'blocks/slider';
@import 'blocks/offers';
@import 'blocks/clients';
@import 'blocks/download';
@import 'blocks/footer';
@import 'blocks/video';

@import 'base/media';

.show {
    display: block;
}
.hide {
    display: none;
}
